parameters:
    level: max
    paths:
        - packages
        - tests/src
    # exceptions:
    #     check:
    #         missingCheckedExceptionInThrows: true
    #         tooWideThrowType: true
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children#'
        -
            message: '#Attribute class Override does not exist#'
            reportUnmatched: false
        -
            identifier: method.nonObject
            path: packages/file-bundle/src/DependencyInjection/Configuration.php
        -
            identifier: return.unusedType
            path: packages/file-symfony-bridge/src/HttpFoundation/ToHttpFoundationFileAdapter.php
        -
            message: '#Call to an undefined method ReflectionClass<.*>::isUninitializedLazyObject#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionClass<.*>::initializeLazyObject#'
            reportUnmatched: false
        -
            message: '#Parameter \#1 \$class of method SplFileInfo#'
        -
            message: '#getFileInfo\(\) should return T of SplFileInfo but returns SplFileInfo#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/phpat/phpat/extension.neon

services:
    -
        class: Rekalogika\File\Tests\Tests\Architecture\Architecture
        tags:
            - phpat.test
