parameters:
    level: max
    paths:
        - packages
        - tests/src
    banned_code:
        non_ignorable: false
    # exceptions:
    #     check:
    #         missingCheckedExceptionInThrows: true
    #         tooWideThrowType: true
    ignoreErrors:
        -
            message: '#Attribute class Override does not exist#'
            reportUnmatched: false
        -
            identifier: return.unusedType
            path: packages/file-symfony-bridge/src/HttpFoundation/ToHttpFoundationFileAdapter.php
        -
            message: '#Call to an undefined method ReflectionClass<.*>::isUninitializedLazyObject#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionClass<.*>::initializeLazyObject#'
            reportUnmatched: false
        -
            message: '#Parameter \#1 \$class of method SplFileInfo#'
        -
            message: '#getFileInfo\(\) should return T of SplFileInfo but returns SplFileInfo#'
        # intervention/image cross-version compatibility: v3 has read()/create();
        # v4 has decode()/createImage(). Whichever version is installed, PHPStan
        # flags the other version's calls; the method_exists guards make both
        # branches safe at runtime.
        -
            message: '#Call to an undefined method Intervention\\Image\\ImageManager::(read|create|decode|createImage)\(\)#'
            path: packages/file-image/src/ImageResizer.php
            reportUnmatched: false
        -
            message: '#Call to function method_exists\(\) with Intervention\\Image\\ImageManager and ''(read|create)'' will always evaluate to true#'
            path: packages/file-image/src/ImageResizer.php
            reportUnmatched: false
        -
            message: '#Method Rekalogika\\File\\Image\\ImageResizer::(decodeStream|createBlankImage)\(\) should return Intervention\\Image\\Interfaces\\ImageInterface but returns mixed#'
            path: packages/file-image/src/ImageResizer.php
            reportUnmatched: false
        -
            message: '#Cannot call method fill\(\) on mixed#'
            path: packages/file-image/src/ImageResizer.php
            reportUnmatched: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/phpat/phpat/extension.neon

services:
    -
        class: Rekalogika\File\Tests\Tests\Architecture\Architecture
        tags:
            - phpat.test
